NEXT_PUBLIC_SUPABASE_URL=https://cpcqrqquhdxojgjjcofq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNwY3FycXF1aGR4b2pnampjb2ZxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3Mzk1OTYsImV4cCI6MjA5MTMxNTU5Nn0.3mwVo15jgdJdIsfc3j8i8dHoFAALtNPYumvP6yTcS_k
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNwY3FycXF1aGR4b2pnampjb2ZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTczOTU5NiwiZXhwIjoyMDkxMzE1NTk2fQ.CcYmLMuGIZmLHhePBgVbRSUg0vAbWmW5g-MbI8LrRyU
ANTHROPIC_API_KEY=
RESEND_API_KEY=
NEXT_PUBLIC_APP_URL=https://kvit.online